
/* BALISES STANDARDS */

html, body {

	font-family: Arial;
	color: white;
	background-color: #F2F8FF;
	margin-top: 0%;
}

html {
	height: 100%;
}


body {
	min-height: 89.5%;
	margin: 0;
	padding: 0;
	position: relative;
}

header{
	z-index: 2;
	margin-top: -5%;
  	position: fixed;
  	width: 100%;
  	text-align: center;
  	font-size: 15px;
  	background-color: #3E4A56;
  	color: #fff;
  	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);

}

header ul {
	list-style-type: none;
}

header li {
	display: inline;
}

header img {
	margin-left:-24%;
	margin-top: 0.3%;
	position: fixed;
	cursor: pointer;
}

header input {

	margin-left:19%;
	margin-top: -2% ;
	padding: 0.2%;
	position: fixed;
	background-color: #53667A;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: white;
	font-weight: bold;
	color: white;
	cursor:pointer;
}


a {
	text-decoration: none;
	color: #407BB2;

}
a:hover {

	text-decoration: none;
	color: #1A3B5A;
}

footer {
	text-align: center;
	
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3E4A56;
    position: absolute;

}



/* BALISES CLASS */

.button {
	padding: 5%;
	margin-top: 5%;
	background-color: #3378B9;
	border-style: solid;
	border-radius: 7px;
	border-color: white;
	font-weight: bold;
	color: white;
	cursor:pointer;

}

.box {
	padding: 4%;
	margin-top: 5%;
	border-style: solid;
	border-radius: 3px;
}

/* BALISES ID */

#content {
	margin-left: 26%;
	margin-top: 5%;
}

#welcome {
	color: #242424;
	position: absolute;


}

#wform {

	top: 15%;
	position: absolute;

}


#php {
	border-radius: 10px;
	padding: 0.4%;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px 1px #656565;
}

#browser {
	
	position: absolute;
	margin-left: 85%;
	margin-top: -15%;
}